fastapi
uvicorn
websockets
sqlalchemy
alembic
pysnmp
pydantic
pydantic-settings
python-dotenv
passlib[bcrypt]
bcrypt==3.2.2
pyjwt
aioping
pytest
httpx
python-multipart
python-jose[cryptography]
pandas
reportlab
apscheduler